/* Layout */

body {
	margin:2em;
}

.page {
	margin:auto;
}

.header .header-photo img {
	display:block;
	margin:0 auto;
}

.content {
	margin:0 auto;
	text-align:center;
}

.content-item {
	margin:0.6em 0;
}

.content-photo-frame {
	margin:0 auto;
	width:202px;
	height:202px;
}

.content-photo {
	margin:0 auto;
	width:200px;
	height:200px;
}

.content-payment-sub {
	max-width:300px;
	margin:0 auto;
}

.footer {
	position:absolute;
	left:0;
	bottom:2em;
	width:100%;
	text-align:center;
}

/* Styles */

body {
	font-family:'Open Sans', sans-serif;
	font-size:0.9em;
	font-weight:300;
	line-height:1.25;
	-webkit-text-size-adjust:120%;
}

h1 {
	font-size:1.5em;
	font-weight:600;
}

h2 {
	font-size:1.1em;
	font-weight:400;
}

.footer {
	font-size:0.2em;
	font-weight:100;
}