.index .photo {
  width:200px;
  height:200px;
  border-radius: 1em;
}
@media only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  .index .photo {
    background-size:200px 200px;
  }
}

.index h1 {
  font-size: 1.9em;
  font-weight: 900;
  margin: 15px 0 10px;
}

.index h2 {
  font-size: 1.3em;
  font-weight: 600;
  margin: 10px 0;
}

.index .links {
  margin: 10px 0;
}

.index .links div {
  margin: 0 0.25em 0 0;
  display: inline-block;
}
.index .links div a {
  display: inline-block;
  text-decoration: none;
}
.index .links div a span.label.addr {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.index .links div a:hover span.label {
  text-decoration: underline;
}
.index .links div a span {
  display: inline-block;
}
.index .links div a span.svg svg {
  vertical-align: middle;
  width: 1em;
  height: 1em;
  font-size: 1.3em;
}
.index .links div a span.label {
  font-size: 0.8em;
  vertical-align: middle;
}
.index .links.social div a span.label {
  /* display: none; */
}
.index .links.money div a span.label {
  display: inline-block;
  width: 6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.index .links.money div a:hover span.label {
  width: auto;
}
