.index .photo {
  width:200px;
  height:200px;
  border-radius: 1em;
  background-image:url('../images/c-square-200.png');
  @media only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
    background-image:url('../images/c-square-400.png');
    background-size:200px 200px;
  }
}

.index h1 {
  font-size: 1.9em;
  font-weight: 900;
  margin: 15px 0 10px;
}

.index h2 {
  font-size: 1.3em;
  font-weight: 600;
  margin: 10px 0;
}

.index .links {
  margin: 10px 0;
}

.index .links div {
  margin: 0 0.25em 0 0;
  display: inline-block;
}
.index .links div a {
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
}
.index .links div a span {
  display: inline-block;
}
.index .links div a span.svg svg {
  vertical-align: middle;
  fill: #aaa;
  width: 1em;
  height: 1em;
  font-size: 1.5em;
}
.index .links div a span.label {
  font-size: 0.95em;
  vertical-align: middle;
}
.index .links.money div a span.label {
  display: inline-block;
  width: 6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8em;
}
.index .links.money div a:hover span.label {
  width: auto;
}
.index .links div a:hover svg { fill:#777; }
.index .links.site div:nth-child(1) a:hover svg { fill:#36465d; }
.index .links.site div:nth-child(2) a:hover svg { fill:#ff0000; }
.index .links.social div:nth-child(1) a:hover svg { fill:#2daae1; }
.index .links.social div:nth-child(2) a:hover svg { fill:#000; }
.index .links.social div:nth-child(3) a:hover svg { fill:#007bb6; }
.index .links.social div:nth-child(4) a:hover svg { fill:#fd6f31; }
.index .links.money div:nth-child(1) a:hover svg { fill:#000; }
