.index .photo {
  width:200px;
  height:200px;
  border-radius: 1em;
  background-image:url('../images/c-square-200.png');
  @media only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
    background-image:url('../images/c-square-400.png');
    background-size:200px 200px;
  }
}

.index h1 {
  font-size: 1.9em;
  font-weight: 900;
  margin: 15px 0 10px;
}

.index h2 {
  font-size: 1.3em;
  font-weight: 600;
  margin: 10px 0;
}

.index .links {
  margin: 10px 0;
}

.index .links a {
  display: inline-block;
  margin: 0 0.25em 0 0;
  font-size: 1.75em;
  text-decoration: none;
}
.index .links a svg {
  fill: #aaa;
  width: 1em;
  height: 1em;
}
.index .links span a:hover svg { fill:#777; }
.index .links span:nth-child(1) a:hover svg { fill:#36465d; }
.index .links span:nth-child(2) a:hover svg { fill:#ff0000; }
.index .links span:nth-child(3) a:hover svg { fill:#2daae1; }
.index .links span:nth-child(4) a:hover svg { fill:#000; }
.index .links span:nth-child(5) a:hover svg { fill:#007bb6; }
.index .links span:nth-child(6) a:hover svg { fill:#fd6f31; }
