/*
 *= require _reset
 *= require _fonts
 */

/* Layout */

body {
	margin:2em;
}

.page {
	margin:auto;
}

.content {
	margin:0 auto;
	text-align:center;
}

.content-item {
	margin:0.6em 0;
}

.content-photo {
	margin:2em auto 1em auto;
	width:200px;
}

.content-photo img {
	width:200px;
	height:200px;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.content-about,
.content-specialty {
	max-width:380px;
	margin:0 auto;
}

.content-about {
  margin:0.8em auto;
}

.content-social {
  margin:0.8em 0;
}

.content-social a {
  display:inline-block;
  margin:0 5px;
}

nw {
  white-space:nowrap;
}

/* Styles */

body {
	font-family:"Lato", serif;
	font-size:1.1em;
	line-height:1.25;
	-webkit-text-size-adjust:120%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: rgba(0, 0, 0, 0.8);
  font-weight:300;
}

h1 {
	font-size:2.5em;
	font-weight:900;
}

h2 {
	font-size:1.3em;
  font-weight:400;
}

a {
	color:#00f;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

a.button-link {
	display:inline-block;
	padding:0 3px;
}
a.button-link:hover {
	background-color:rgba(0, 0, 0, 0.8);
	color:#fff;
	text-decoration:none;
	border-radius: 4px;
}

.content-specialty,
.content-languages,
.content-countries,
.content-blogs {
	color:#999;
}

.content-social a {
	font-size:1.5em;
	color:#999;
}

.content-social a:hover {
	font-size:1.5em;
	color:#777;
}

.content-social a:nth-child(1):hover { color:#2daae1; }
.content-social a:nth-child(2):hover { color:#007bb6; }
.content-social a:nth-child(3):hover { color:#000; }
