/*
 *= require _reset
 */

/* Layout */

body {
	margin:2em;
}

.page {
	margin:auto;
}

.content {
	margin:0 auto;
	text-align:center;
}

.content-item {
	margin:0.6em 0;
}

.content-photo {
	margin:2em auto 1em auto;
	width:200px;
}

.content-photo img {
	width:200px;
	height:200px;
  border: 3px solid #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.content-payment-sub {
	max-width:300px;
	margin:0 auto;
}

.content-social {
  margin:0.8em 0;
}

.content-social a {
  display:inline-block;
  margin:0 5px;
}

nowrap {
  white-space:nowrap;
}

/* Styles */

body {
	font-family:"jaf-bernina-sans", serif;
	font-size:1.0em;
	line-height:1.25;
	-webkit-text-size-adjust:120%;
  color: rgba(0, 0, 0, 0.8);
  font-weight:300;
}

h1 {
	font-size:2.5em;
	font-weight:700;
}

h2 {
	font-size:1.1em;
  font-weight:400;
}

a {
	color:rgba(0, 0, 0, 1.0);
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.content-payment,
.content-languages,
.content-countries,
.content-blogs {
	color:#999;
}

.content-social a {
	font-size:1.5em;
	color:#999;
}

.content-social a:hover {
	font-size:1.5em;
	color:#777;
}

.content-social a:nth-child(1):hover { color:#2daae1; }
.content-social a:nth-child(2):hover { color:#007bb6; }
.content-social a:nth-child(3):hover { color:#000; }
.content-social a:nth-child(4):hover { color:#fbaf1c; }
