{{ define "main" -}}
<div class="index">

<div class="photo"></div>
<h1 class="name">Leigh McCulloch</h1>
<h2 class="title">Software Engineer</h2>

<div class="currently">
  Aussie. Living in SF.</br>
  Building backends and tools with <a href="https://golang.org">Go</a> and <a href="https://www.ruby-lang.org">Ruby</a>.</br>
  Passionate about open source and simplicity.
</div>

<div class="links site">
  <div title="Posts">
    <a href="posts">
      <span class="svg">{{safeHTML (readFile "static/images/font-awesome-svgs/align-left.svg")}}</span>
      <span class="label">Posts</span>
    </a>
  </div>
  <div title="Talks">
    <a href="https://github.com/leighmcculloch/talks">
      <span class="svg">{{safeHTML (readFile "static/images/font-awesome-svgs/tv.svg")}}</span>
      <span class="label">Talks</span>
    </a>
  </div>
</div>
<div class="links social">
  <div class="icon" title="Keybase">
    <a href="https://keybase.io/leighmcculloch">
      <span class="svg">{{safeHTML (readFile "static/images/font-awesome-svgs/keybase.svg")}}</span>
      <span class="label">leighmcculloch</span>
    </a>
  </div>
  <div class="icon" title="GitHub">
    <a href="https://github.com/leighmcculloch">
      <span class="svg">{{safeHTML (readFile "static/images/font-awesome-svgs/github.svg")}}</span>
      <span class="label">leighmcculloch</span>
    </a>
  </div>
  <div class="icon" title="LinkedIn">
    <a href="https://linkedin.com/in/leighmcculloch">
      <span class="svg">{{safeHTML (readFile "static/images/font-awesome-svgs/linkedin-in.svg")}}</span>
      <span class="label">leighmcculloch</span>
    </a>
  </div>
  </br>
  <div class="icon" title="Twitter">
    <a href="https://twitter.com/___leigh___">
      <span class="svg">{{safeHTML (readFile "static/images/font-awesome-svgs/twitter.svg")}}</span>
      <span class="label">___leigh___</span>
    </a>
  </div>
  <div class="icon" title="Mastodon">
    <a href="https://aus.social/@leighmcculloch">
      <span class="svg">{{safeHTML (readFile "static/images/font-awesome-svgs/mastodon.svg")}}</span>
      <span class="label">leighmcculloch@aus.social</span>
    </a>
  </div>
</div>
<div class="links money">
  <div title="Stellar">
    <a href="https://steexp.com/account/GCUUZV5AFZWZT5ULVJZ6UFXFQ4G6XXDR4GSDX7OSBD4TCAKFRWKLSPWK">
      <span class="svg">{{safeHTML (readFile "static/images/stellar.svg")}}</span>
      <span class="label">GCUUZV5AFZWZT5ULVJZ6UFXFQ4G6XXDR4GSDX7OSBD4TCAKFRWKLSPWK</span>
    </a>
  </div>
</div>

</div>
{{- end }}
