{{ define "main" -}}
<div class="index">

<div class="photo"></div>
<h1 class="name">Leigh McCulloch</h1>
<h2 class="title">Software Engineer</h2>

<div class="currently">
Living in SF, but forever an Aussie.</br>
Building backends and tools in Ruby, Go, and Java.</br>
Passionate about open source, and simplicity.
</div>

<div class="links">
<a href="posts"><i class="fa fa-align-left" aria-hidden="true"></i></a>
<a href="https://twitter.com/___leigh___"><i class="fa fa-twitter" aria-hidden="true"></i></a>
<a href="https://github.com/leighmcculloch"><i class="fa fa-github" aria-hidden="true"></i></a>
<a href="https://linkedin.com/in/leighmcculloch"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
</div>

</div>
{{- end }}
