{{ define "main" -}}
<div class="index">

<div class="photo"></div>
<h1 class="name">Leigh McCulloch</h1>

<div class="currently">
  Aussie. Passionate about open source, simplicity, dx.</br>
  Building with <a href="https://golang.org">Go</a>, <a href="https://www.rust-lang.org">Rust</a>, <a href="https://www.ruby-lang.org">Ruby</a>, <a href="https://webassembly.org">WASM</a>, <a href="https://www.postgresql.org">PostreSQL</a>, ...</br>
</div>

<div class="links">
  <span class="links site">
    <div title="Posts">
      <a href="posts/">
        <span class="svg">{{safeHTML (readFile "static/images/font-awesome-svgs/align-left.svg")}}</span>
        <span class="label">Posts</span>
      </a>
    </div>
    <div title="Talks">
      <a href="talks/">
        <span class="svg">{{safeHTML (readFile "static/images/font-awesome-svgs/tv.svg")}}</span>
        <span class="label">Talks</span>
      </a>
    </div>
    <div title="Code">
      <a href="https://github.com/leighmcculloch/">
        <span class="svg">{{safeHTML (readFile "static/images/font-awesome-svgs/github.svg")}}</span>
        <span class="label">Code</span>
      </a>
    </div>
  </span>
</div>

<div class="links">
  <span class="links social">
    <div title="ATprotocol">
      <a rel="me" href="https://leighm.cc">
        <span class="svg">{{safeHTML (readFile "static/images/font-awesome-svgs/comment.svg")}}</span>
        <span class="label">AT Protocol</span>
        <span class="label addr">@leighm.cc</span>
      </a>
    </div>
    <div title="T2">
      <a rel="me" href="https://t2.social/leigh">
        <span class="svg">{{safeHTML (readFile "static/images/font-awesome-svgs/comment.svg")}}</span>
        <span class="label">T2</span>
        <span class="label addr">@leigh</span>
      </a>
    </div>
    <div title="Mastodon">
      <a rel="me" href="https://inuh.net/@leigh">
        <span class="svg">{{safeHTML (readFile "static/images/font-awesome-svgs/mastodon.svg")}}</span>
        <span class="label">Mastodon</span>
        <span class="label addr">inuh.net/@leigh</span>
      </a>
    </div>
    <div title="Twitter">
      <a href="https://twitter.com/___leigh___">
        <span class="svg">{{safeHTML (readFile "static/images/font-awesome-svgs/twitter.svg")}}</span>
        <span class="label">Twitter</span>
        <span class="label addr">@___leigh___</span>
      </a>
    </div>
    <div title="GitHub">
      <a href="https://github.com/leighmcculloch">
        <span class="svg">{{safeHTML (readFile "static/images/font-awesome-svgs/github.svg")}}</span>
        <span class="label">GitHub</span>
        <span class="label addr">@leighmcculloch</span>
      </a>
    </div>
    <div title="GitLab">
      <a href="https://gitlab.com/leighmcculloch">
        <span class="svg">{{safeHTML (readFile "static/images/font-awesome-svgs/gitlab.svg")}}</span>
        <span class="label">GitLab</span>
        <span class="label addr">@leighmcculloch</span>
      </a>
    </div>
    <div title="LinkedIn">
      <a href="https://linkedin.com/in/leighmcculloch">
        <span class="svg">{{safeHTML (readFile "static/images/font-awesome-svgs/linkedin-in.svg")}}</span>
        <span class="label">LinkedIn</span>
        <span class="label addr">@leighmcculloch</span>
      </a>
    </div>
  </span>
</div>

</div>
{{- end }}
