
.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-linkedin-squared:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e803'; } /* '' */