<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <link rel="canonical" href="{{with .Param " canonical_url"}}{{.}}{{else}}{{.Permalink}}{{end}}">

  <meta name="viewport" content="width=device-width">

  {{ if .IsHome -}}
  <title>Leigh McCulloch &middot; Software Engineer</title>
  <meta name="description" content="Software Engineer / Go / Ruby">
  <meta property="og:title" content="Leigh McCulloch &middot; Software Engineer">
  <meta property="og:description" content="Software Engineer / Go / Ruby">
  {{- else if .IsPage -}}
  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Title }}">
  <meta property="og:title" content="{{ .Title }}">
  <meta property="og:description" content="{{ .Title }}">
  {{- else -}}
  <title>Leigh McCulloch &middot; {{ .Title }}</title>
  <meta name="description" content="{{ .Title }}">
  <meta property="og:title" content="Leigh McCulloch &middot; {{ .Title }}">
  <meta property="og:description" content="{{ .Title }}">
  {{- end }}

  <meta property="og:url" content="{{ .Permalink | absURL }}">
  <meta name="twitter:site" content="@___leigh___">

  {{ if .IsHome -}}
  <meta property="og:type" content="profile">
  <meta property="og:image" content="https://leighmcculloch.com/images/c-bg-lightsshadow-square-500.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="https://leighmcculloch.com/images/c-bg-lightsshadow-square-500.png">
  {{- else -}}
    {{ if and (.IsPage) (eq .Section "talks") -}}
      {{$image := $.Param "talk_image"}}
      {{if $image}}
      <meta property="og:image" content="{{ .Permalink | absURL }}{{ $image }}">
      <meta property="twitter:image" content="{{ .Permalink | absURL }}{{ $image }}">
      {{else}}
      <meta property="og:image" content="https://leighmcculloch.com/images/c-bg-lightsshadow-square-500.png">
      <meta property="twitter:image" content="https://leighmcculloch.com/images/c-bg-lightsshadow-square-500.png">
      {{end}}
      {{$player := $.Param "talk_player"}}
      {{if $player}}
      <meta property="og:type" content="video.other">
      <meta name="twitter:card" content="player">
      <meta name="twitter:player" content="{{$player}}">
      <meta name="twitter:player:width" content="1280">
      <meta name="twitter:player:height" content="720">
      {{else}}
      <meta name="twitter:card" content="summary">
      <meta name="twitter:image" content="https://leighmcculloch.com/images/c-bg-lightsshadow-square-500.png">
      {{end}}
    {{- else -}}
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://leighmcculloch.com/images/c-bg-lightsshadow-square-500.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="https://leighmcculloch.com/images/c-bg-lightsshadow-square-500.png">
    {{- end}}
  {{- end }}

  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/index.css">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/layout.css">

  <!-- Icons -->
  <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">

  <!-- RSS -->
  <link type="application/rss+xml" rel="alternate" href="{{ .RSSLink }}" title="{{ .Site.Title }}" />
</head>

<body class="{{ .Site.Params.themeColor }}">
  <div class="content container">
    {{ if eq .Kind "home" -}}
    {{- else -}}
    <div class="menu">
      <ul>
        <li><a href="{{ .Site.BaseURL }}">
            <div class="photo"></div>
          </a></li>
        <li><a href="{{ .Site.BaseURL }}">Leigh McCulloch</a></li>
        <li><a href="{{ .Site.BaseURL }}{{ .Section }}">{{ title .Section }}</a></li>
      </ul>
    </div>
    {{- end }}

    {{ block "main" . -}}{{- end }}
  </div>

  {{ template "_internal/google_analytics_async.html" . }}
</body>

</html>
