{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
  <span class="post-content">
    {{ .Content }}
  </span>
  <span class="post-meta">
    {{if eq .Section "posts"}}
    <span class="post-author">
      {{$authors := $.Param "author"}}
      {{with $authors}}
        {{if gt (len $authors) 1}}Authors:{{else}}Author:{{end}}
        {{range $index, $author := $authors}}
          {{if $index}}and{{end}}
          <a href="{{with (index $.Site.Data.authors $author "url")}}{{.}}{{else}}{{$.Site.BaseURL}}{{end}}">{{index $.Site.Data.authors $author "name"}}</a>
        {{end}}
      {{else}}
        Author: <a href="{{ .Site.BaseURL }}">Leigh McCulloch</a>
      {{end}}
    </span>
    {{end}}
    {{if eq .Section "talks"}}
    <span class="talk-event">
      Event: {{$.Param "talk_event"}}
    </span>
    <span class="post-author">
      {{$authors := $.Param "author"}}
      {{with $authors}}
        {{if gt (len $authors) 1}}Speakers:{{else}}Speaker:{{end}}
        {{range $index, $author := $authors}}
          {{if $index}}and{{end}}
          <a href="{{with (index $.Site.Data.authors $author "url")}}{{.}}{{else}}{{$.Site.BaseURL}}{{end}}">{{index $.Site.Data.authors $author "name"}}</a>
        {{end}}
      {{else}}
        Speaker: <a href="{{ .Site.BaseURL }}">Leigh McCulloch</a>
      {{end}}
    </span>
    <span class="talk-slides">
      Material:
      {{with $slides := $.Param "talk_slides"}}
      <a href="{{$slides}}" target="_blank" rel="noopener noreferrer">Slides</a>
      {{- end -}}
      {{- with $slidesNotes := $.Param "talk_slides_notes" -}}
      {{- with $slides := $.Param "talk_slides" -}}, {{end}}
      <a href="{{$slidesNotes}}" target="_blank" rel="noopener noreferrer">Slides with Notes</a>
      {{end}}
    </span>
    {{end}}
  </span>
</div>

<h2>Comments</h2>
<a href="https://twitter.com/intent/tweet?via=___leigh___&url={{ .Permalink }}" class="twitter">
  <span class="svg">{{safeHTML (readFile "static/images/font-awesome-svgs/twitter.svg")}}</span>
  <span class="label">Start a conversation on Twitter</span>
</a>
{{- end }}
