{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
  <span class="post-content">
    {{ .Content }}
  </span>
  <span class="post-meta">
    {{if eq .Section "posts"}}
    <span class="post-author">
      {{$authors := $.Param "author"}}
      {{with $authors}}
        {{if gt (len $authors) 1}}Authors:{{else}}Author:{{end}}
        {{range $index, $author := $authors}}
          {{if $index}}and{{end}}
          <a href="{{with (index $.Site.Data.authors $author "url")}}{{.}}{{else}}{{$.Site.BaseURL}}{{end}}">{{index $.Site.Data.authors $author "name"}}</a>
        {{end}}
      {{else}}
        Author: <a href="{{ .Site.BaseURL }}">Leigh McCulloch</a>
      {{end}}
    </span>
    {{end}}
    {{if eq .Section "talks"}}
    {{with $.Param "talk_event"}}
    <span class="talk-event">
      Event: {{.}}
    </span>
    {{end}}
    <span class="post-author">
      {{$authors := $.Param "author"}}
      {{with $authors}}
        {{if gt (len $authors) 1}}Speakers:{{else}}Speaker:{{end}}
        {{range $index, $author := $authors}}
          {{if $index}}and{{end}}
          <a href="{{with (index $.Site.Data.authors $author "url")}}{{.}}{{else}}{{$.Site.BaseURL}}{{end}}">{{index $.Site.Data.authors $author "name"}}</a>
        {{end}}
      {{else}}
        Speaker: <a href="{{ .Site.BaseURL }}">Leigh McCulloch</a>
      {{end}}
    </span>
    {{with $slides := $.Param "talk_slides"}}
    <span class="talk-slides">
      Material:
      <a href="{{$slides}}" target="_blank" rel="noopener noreferrer">Slides</a>
      {{- with $slidesNotes := $.Param "talk_slides_notes" -}}
      ,
      <a href="{{$slidesNotes}}" target="_blank" rel="noopener noreferrer">Slides with Notes</a>
      {{end}}
    </span>
    {{- end -}}
    {{with $.Param "code"}}
    <span class="talk-slides">
      Code: <a href="{{.}}" target="_blank" rel="noopener noreferrer">{{.}}</a>
    </span>
    {{- end -}}
    {{end}}
  </span>
</div>
{{- end }}
