---
title: Leigh McCulloch - Software Engineer
description: Software engineer, geeks out on clean architecture and with extensive experience in online and card present payments. Currently in San Francisco, CA.
url: http://leighmcculloch.com
share_type: profile
share_image: http://leighmcculloch.com/images/c-square-400.jpg
---

<% content_for :head do %>
  <%= stylesheet_link_tag "style" %>
<% end %>

<div class="content">
  <div class="content-item">
    <div class="content-photo">
      <img src="images/c-circle-400.webp" onerror="this.src='images/c-circle-400.jpg'" />
    </div>
  </div>
  <div class="content-item">
    <h1>Leigh McCulloch</h1>
  </div>
  <div class="content-item">
    <h2>Software Engineer</h2>
  </div>
  <div class="content-item">
    <div class="content-about">
      from <a href="https://www.flickr.com/search/?q=sydney%20landscape" class="button-link">Sydney, Australia</a>, living in <br/>San Francisco, building <a href="https://gumroad.com/" class="button-link">Gumroad</a>.
    </div>
  </div>
  <div class="content-item">
  </div>
  <div class="content-item">
    <div class="content-social">
      <a href="https://twitter.com/___leigh___"><i class="icon-twitter"></i></a>
      <a href="https://www.linkedin.com/in/leighmcculloch"><i class="icon-linkedin-squared"></i></a>
      <a href="https://github.com/leighmcculloch"><i class="icon-github-circled"></i></a>
    </div>
  </div>
  <div class="content-item">
    <div class="content-specialty">
      <div class="content-specialty-sub">
        <nowrap>Software Architecture &amp; Design</nowrap>, <nowrap>Service Oriented Architecture</nowrap>, <nowrap>Backend</nowrap>.
      </div>
    </div>
  </div>
  <div class="content-item">
    <div class="content-specialty">
      <div class="content-specialty-sub">
        <nowrap>Payments</nowrap>, <nowrap>PCI-DSS v2 &amp; v3</nowrap>, EMV, <nowrap>EMV Contactless</nowrap>, EFTPOS.
      </div>
    </div>
  </div>
  <div class="content-item">
    <div class="content-languages">
      Ruby, C#, JavaScript, Objective-C, C, Java...
    </div>
  </div>
</div>
