---
title: Leigh McCulloch - Software Engineer
description: Software engineer, geeks out on clean architecture and with extensive experience in online and card present payments. Currently in San Francisco, CA.
url: http://leighmcculloch.com
share_type: profile
share_image: http://leighmcculloch.com/images/c-square-400.jpg
---

.content
  .content-item
    .content-photo
  .content-item
    %h1 Leigh McCulloch
  .content-item
    %h2 Software Engineer
  .content-item
    .content-about
      from <a href="https://www.flickr.com/search/?q=sydney%20landscape" class="button-link">Sydney, Australia</a>, living in <br/>San Francisco, building <a href="https://braintreepayments.com" class="button-link" target="_blank">Braintree</a>.
      %br
      Previously <a href="https://gumroad.com/" class="button-link" target="_blank">Gumroad</a>, <a href="https://www.linkedin.com/in/leighmcculloch" class="button-link" target="_blank">...</a>
  .content-item
  .content-item
    .content-social
      %a{ href: "https://twitter.com/___leigh___"}><
        %i.icon-twitter
      %a{ href: "https://www.linkedin.com/in/leighmcculloch"}><
        %i.icon-linkedin-squared
      %a{ href: "https://github.com/leighmcculloch"}><
        %i.icon-github-circled
  .content-item
    .content-specialty
      .content-specialty-sub
        Enjoys: <nw>Backend</nw>, Seperating Concerns, <nw>Software Design & Architecture</nw>.
  .content-item
    .content-specialty
      .content-specialty-sub
        <nw>Payments</nw>, <nw>PCI-DSS</nw>, AWS,
        %br
        EMV, <nw>EMV Contactless</nw>.
  .content-item
    .content-languages
      Ruby, JavaScript, Objective-C, C#, C, Java...
      %br
      %a.camouflage{ href: "https://twitter.com/___leigh___/status/647855298934280192" } Learning Golang...
