---
title: Leigh McCulloch
description: Australian software engineer, specialising in payments online and card present in San Francisco, CA.
url: http://leighmcculloch.com
share_type: profile
share_title: Leigh McCulloch – Software Engineer (Payments)
share_image: http://leighmcculloch.com/images/c-square-400.jpg
---

<% content_for :head do %>
  <script type="text/javascript" src="http://use.typekit.net/ipr5nva.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "index" %>
<% end %>

<div class="content">
  <div class="content-item">
    <div class="content-photo">
      <%= image_tag "images/c-square-400.jpg" %>
    </div>
  </div>
  <div class="content-item">
    <h1>Leigh McCulloch</h1>
  </div>
  <div class="content-item">
    <h2>Software Engineer</h2>
    <div class="content-payment-sub">
      of <span class=content-intro-period></span> from <a href="https://www.flickr.com/search/?q=sydney%20landscape">Sydney, Australia</a>, and <nowrap>now at <a href="https://gumroad.com/">Gumroad</a> in San Francisco, CA.</nowrap>
    </div>
  </div>
  <div class="content-item">
  </div>
  <div class="content-item">
    <div class="content-social">
      <a href="https://twitter.com/___leigh___"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/leighmcculloch"><i class="fa fa-linkedin-square"></i></a>
      <a href="https://github.com/leighmcculloch"><i class="fa fa-github"></i></a>
      <a href="http://codeilove.com"><i class="fa fa-codepen"></i></a>
    </div>
  </div>
  <div class="content-item">
    <div class="content-payment">
      <h3>Payments Specialist</h3>
      <div class="content-payment-sub">
        <nowrap>Web Payments</nowrap>, <nowrap>Card-Not-Present</nowrap>, <nowrap>Tokenization</nowrap>, <nowrap>PCI-DSS v2 &amp; v3 (Level 1)</nowrap>, <nowrap>Card-Present</nowrap>, EMV, <nowrap>EMV Contactless</nowrap>, EFTPOS.
      </div>
    </div>
  </div>
  <div class="content-item">
    <div class="content-languages">
      Ruby, C#, JavaScript, Objective-C, C, Java.
    </div>
  </div>
</div>
