---
title: Leigh McCulloch
description_long: Software Engineer and Architect, specialising in payments online and card present. Australia, UK, USA.
share_title: Leigh McCulloch – Software Engineer (Payments)
share_image: http://leighmcculloch.com/images/c-square-400.jpg
---

<% content_for :js do %>
  <%= javascript_include_tag "index" %>
<% end %>

<div class="content">
  <div class="content-item">
    <div class="content-photo">
      <%= image_tag "images/c-square-400.jpg" %>
    </div>
  </div>
  <div class="content-item">
    <h1>Leigh McCulloch</h1>
  </div>
  <div class="content-item">
    <h2>Software Engineer <span class="content-intro-period"></span></h2>
    <h3>San Francisco, CA, USA<br/>Sydney, Australia</h3>
  </div>
  <div class="content-item">
    <div class="content-social">
      <a href="https://twitter.com/___leigh___"></a>
      <a href="https://www.linkedin.com/in/leighmcculloch"></a>
      <a href="https://github.com/leighmcculloch"></a>
      <a href="http://codeilove.com"></a>
      <% # <a href="http://uncovering.me"></a> %>
    </div>
  </div>
  <div class="content-item">
    <div class="content-payment">
      <h3>Payments Specialist</h3>
      <div class="content-payment-sub">
        <nowrap>Online / Web</nowrap>, <nowrap>Tokenization</nowrap>, <nowrap>PCI-DSS v2 &amp; v3</nowrap>, <nowrap>Card-Present</nowrap>, EMV, <nowrap>EMV Contactless</nowrap>, EFTPOS.
      </div>
    </div>
  </div>
  <div class="content-item">
    <div class="content-countries">
      <nowrap>Australia, UK, USA.</nowrap>
    </div>
  </div>
  <div class="content-item">
    <div class="content-languages">
      Ruby, C#, JavaScript, Objective-C, C, Java.
    </div>
  </div>
</div>
